{% extends 'diverty/base.html' %}
{% load static %}
{% block titulo %}Formulario empleado {% endblock %}

{% block contenedor %}

  
  <div class="section container">
      <h1 class="center-align white-text">Actualizar empleado</h1>
    <div class="row">
      
      <form class="col s12"method="POST"action="{% url 'diverty:editar_empleado' %}">
        {% csrf_token %}
        <div class="row card-panel">
          
          <div class="input-field col s6">
            <span class="material-icons prefix">
              person
          </span>
          <input type="hidden" name="id" value="{{ actualizarEmpleado.id_empleado }}" class="form-control" readonly="" >
            <span class="material-icons prefix">
                person
                </span>
            <input type="text" id="nombre" name="nombre" value="{{ actualizarEmpleado.nombre }}" class="validate"required>
            <span class="helper-text" data-error="Ingrese un nombre valido" ></span>
            <label for="nombre">Nombre</label>
            
          </div>
          <div class="input-field col s6">
            <span class="material-icons prefix">
                drive_file_rename_outline
                </span>
                <input type="text"  id="apellido" name="apellido" value="{{ actualizarEmpleado.apellido }}" class="validate"required>
            <span class="helper-text" data-error="Ingrese un apellido valido" ></span>
            <label for="apellido">Apellido</label>
            
            
          </div>
          <div class="input-field col s6">
            <span class="material-icons prefix">
                fingerprint
                </span>
            <input type="number" id="cedula" name="identificacion" value="{{ actualizarEmpleado.identificacion }}"  class="validate"required>
            <span class="helper-text" data-error="Ingrese una identificacion valida" ></span>
            <label for="cedula">Cedula</label>
            
          </div>
          <div class="input-field col s6">
            <span class="material-icons prefix">
                email
                </span>
            <input type="email" id="email"name="correo" value="{{ actualizarEmpleado.correo }}"  class="validate"required>
            <span class="helper-text" data-error="Ingrese una identificacion valida" ></span>
            <label for="email">Correo</label>
            
          </div>
       
          
          
          <button type="submit"class="btn">Enviar</button>

        </div>
      </form>
    </div>
  </div>
  

{% endblock %}
