{% extends 'diverty/base.html' %}
{% load static %}
{% block titulo %}Empleados {% endblock %}

{% block contenedor %}
  <main>
    <h1 class="titulo_crud_reservas">Lista de empleados </h1>
   
             
   
    <a class="crear-reserva" href="{% url 'diverty:formulario_empleado' %}">
        
        
        Crear empleado +</a>
    {% if Empleado %}
    <table class="stripped highlight centered responsive-table ">
        <thead>
            <tr class="grey lighten-2">
                <th >Id empleado</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <br>
        <tbody>
        {% for registro  in  Empleado %}
            <tr>
                <td>{{ registro.id_empleado }}</td>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.apellido }}</td>
                <td>{{ registro.correo }}</td>
                <td>{{ registro.identificacion }}</td>
               
                
                <td>
                    <a href="#"onclick="eliminarEmpleado('{% url 'diverty:eliminar_empleado' registro.id_empleado %}')"  href="#" class="material-icons  red-text  ">
                        delete
                    </a>
                        <a href="{% url 'diverty:actualizar_empleado' registro.id_empleado %}"  class="material-icons yellow-text text-darken-4">
                            mode_edit
                        </a>
                </td>
            </tr>
           
            
            
        </tbody>
        {% endfor %}
        
    </table>
    {% else %}
    No hay datos
    {% endif %}
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect waves-teal "><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>

  </main>
{% endblock %}
 