{% extends 'diverty/base.html' %}
{% load static %}
{% block contenedor %}

<div class="section container">
  <h1 class="center-align white-text">Registro de ventas</h1>
  <div class="row">
    <form class="col s12" action="{% url 'diverty:guardar-ventas" method="POST">
      {% csrf_token %}
      <div class="row card-panel">
        <div class="input-field col s6">
          <span class="material-icons prefix">
            date_range
          </span>
          <input type="datetime-local" id="fecha" name="fecha" class="validate" required>
          <span class="helper-text" data-error="Fecha invalida"></span>
        </div>
        <div class="input-field col s6">
          <span class="material-icons prefix">
            paid
          </span>
          <input type="number" id="precio" name="precio" class="validate" required>
          <span class="helper-text" data-error="Costo de venta invalido"></span>
          <label for="precio">Precio</label>
        </div>
 
        <div class="input-field col s6">

          <select name="cliente" class="form-control">
            <option value="0">Selecciona un cliente</option>
            {% for c in cliente %}
                <option value="{{ c.id_cliente }}">{{ c.nombre }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="container">
          <buttom class="btn waves-effect  waves-light boton-ventas" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </buttom>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}